<a href="https://colab.research.google.com/github/anastasiiaCher/python-for-DPaV/blob/main/labs/%D0%9B%D0%A01_%D0%9C%D0%B0%D0%BD%D0%B8%D0%BF%D1%83%D0%BB%D1%8F%D1%86%D0%B8%D0%B8_%D1%81_%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%87%D0%BD%D1%8B%D0%BC%D0%B8_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%BC%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Постановка задачи

**Цель работы:** изучение основных способов обработки табличных данных и создания запросов к ним с помощью модуля `pandas`.

**Краткое описание:** в лабораторной работе представлено 8 заданий на сортировку, фильтрацию и группировку данных методами модуля `pandas`. Первые 4 задания являются обязательными. Из оставшихся 4 необходимо выполнить любые два на выбор обучающегося.
**Выполнил: Джараян Арег**

# Данные

В папке [Data/lab1](https://drive.google.com/drive/folders/1RxzrWKQC5zqStrKE_3TB9C3Hqzqf-7aJ?usp=share_link) расположено несколько таблиц с обезличенными транзакционными банковскими данными. Все задания лабораторной работы необходимо выполнять по этим данным.

### Таблица ```transactions.csv```
##### **Описание**
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### **Формат данных**

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### **Описание полей**

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком:
  - ```+``` — начисление средств клиенту (приходная транзакция);
  - ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала.

 ### Таблица ```gender_train.csv```

##### **Описание**
Таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### **Формат данных**
```
customer_id,gender
111111,0
111112,1
...
```

##### **Описание полей**
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента.

### Таблица ```tr_mcc_codes.csv```

##### **Описание**
Таблица содержит описание mcc-кодов транзакций.

##### **Формат данных**
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### **Описание полей**
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### **Описание**
Таблица содержит описание типов транзакций.

##### **Формат данных**
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### **Описание полей**
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции.

# Практические задания

In [ ]:
import pandas as pd
import numpy as np

## Подготовка

Загрузите и прочитайте данные из таблиц в переменные **tr_mcc_codes, tr_types, transactions** и **gender_train** из одноименных таблиц.

Выведите размеры таблиц и случайные строки из них.

In [ ]:
# Загрузка данных
# Обратите внимание на разные разделители в файлах!
transactions = pd.read_csv('transactions.csv')
gender_train = pd.read_csv('gender_train.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv('tr_types.csv', sep=';')

# Вывод размеров таблиц
print("Размеры таблиц:")
print(f"transactions: {transactions.shape}")
print(f"gender_train: {gender_train.shape}")
print(f"tr_mcc_codes: {tr_mcc_codes.shape}")
print(f"tr_types: {tr_types.shape}")

# Просмотр случайных строк
print("\nСлучайные строки из transactions:")
print(transactions.sample(3))
print("\nСлучайные строки из gender_train:")
print(gender_train.sample(3))
print("\nСлучайные строки из tr_mcc_codes:")
print(tr_mcc_codes.sample(3))
print("\nСлучайные строки из tr_types:")
print(tr_types.sample(3))

Размеры таблиц:
transactions: (114161, 6)
gender_train: (8400, 2)
tr_mcc_codes: (184, 2)
tr_types: (155, 2)

Случайные строки из transactions:
       customer_id   tr_datetime  mcc_code  tr_type   amount   term_id
80989     42123803  406 20:39:35      5411     1010 -2201.00  10279105
3497       1585299  309 08:56:26      5499     1010 -1459.85  10163066
61347     78603033  129 00:00:00      5735     1200 -1549.68       NaN

Случайные строки из gender_train:
      customer_id  gender
4367     98255844       0
8136     15230899       1
1269     20357100       0

Случайные строки из tr_mcc_codes:
     mcc_code                         mcc_description
170      8071        Зубные и медицинские лаборатории
106      5949  Магазины ткани, ниток рукоделия, шитья
59       5451    Продажа молочных продуктов в розницу

Случайные строки из tr_types:
     tr_type                                     tr_description
37      6210                    Возврат покупки.POS Зарубеж. ТУ
124     2350      Погашение кредита (в пределах одного филиала)
19      4071  Плата за перевод на карту (с карты) через Моби...

Задания 1–4 нужно выполнить без использования функции `merge` и аналогичных по назначению.


>Допускается для таблицы **transactions** использование не всех записей. При чтении файлов обратите внимание на разделители внутри каждого из файлов – они могут различаться!

## Задание 1

1. Для столбца `tr_type` датафрейма `transactions` выберите произвольные `1000` строк с помощью метода `sample()`.
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец `tr_description` в датафрейме `tr_types`), в которой содержится подстрока `'POS'` или `'ATM'`.

In [ ]:
# Задание 1
# 1. Выборка 1000 случайных строк
sample_tr_types = transactions['tr_type'].sample(1000, random_state=42)

# 2. Подсчет доли транзакций с подстрокой 'POS' или 'ATM'
# Создаем словарь для быстрого поиска описаний
tr_types_dict = dict(zip(tr_types['tr_type'], tr_types['tr_description']))

# Функция для проверки наличия подстрок
def contains_pos_atm(tr_type):
    description = tr_types_dict.get(tr_type, '')
    return 'POS' in description or 'ATM' in description

# Применяем функцию к выборке
matches = sample_tr_types.apply(contains_pos_atm)
proportion = matches.mean()

print(f"Доля транзакций, содержащих 'POS' или 'ATM': {proportion:.4f} ({proportion*100:.2f}%)")

Доля транзакций, содержащих 'POS' или 'ATM': 0.4430 (44.30%)

## Задание 2

1. Для столбца `tr_type` датафрейма `transactions` посчитайте частоту встречаемости всех типов транзакций `tr_type` в `transactions`.
2. Выведите датафрейм, содержащий топ-10 транзакций, отсортированных по убыванию частоты встречаемости. Датафрейм должен содержать столбцы `tr_type`, `tr_description` и столбец с частотой встречаемости.

In [ ]:
# 1. Частота встречаемости типов транзакций
tr_type_counts = transactions['tr_type'].value_counts().reset_index()
tr_type_counts.columns = ['tr_type', 'frequency']

# 2. Топ-10 транзакций по частоте
top_10_tr_types = tr_type_counts.head(10)

# 3. Добавляем описания (проверяем наличие tr_types)
if 'tr_types' in globals() or 'tr_types' in locals():
    # Проверяем, есть ли нужные столбцы в tr_types
    if all(col in tr_types.columns for col in ['tr_type', 'tr_description']):
        top_10_with_desc = top_10_tr_types.merge(tr_types[['tr_type', 'tr_description']],
                                                 on='tr_type',
                                                 how='left')

        print("Топ-10 транзакций по частоте:")
        print(top_10_with_desc[['tr_type', 'tr_description', 'frequency']])
    else:
        print("В tr_types отсутствуют необходимые столбцы 'tr_type' и/или 'tr_description'")
        print("Выводим только типы транзакций:")
        print(top_10_tr_types[['tr_type', 'frequency']])
else:
    print("DataFrame tr_types не найден")
    print("Выводим только типы транзакций:")
    print(top_10_tr_types[['tr_type', 'frequency']])

Топ-10 транзакций по частоте:
   tr_type                                     tr_description  frequency
0     1010                              Покупка. POS ТУ СБ РФ      30868
1     2010              Выдача наличных в АТМ Сбербанк России      19626
2     1110                             Покупка. POS ТУ Россия      17658
3     1030                     Оплата услуги. Банкоматы СБ РФ      15421
4     2370  Списание с карты на карту по операции <перевод...       6877
5     7070  Перевод на карту (с карты) через Мобильный бан...       6787
6     7010       Взнос наличных через АТМ (в своем тер.банке)       3352
7     1100                                Покупка. ТУ  Россия       2009
8     1200                               Покупка. Зарубеж. ТУ       1527
9     7030  Перевод на карту (с карты) через АТМ (в предел...       1141

## Задание 3
1. В датафрейме `transactions` найдите клиента с максимальной суммой приходов на карту.
2. В датафрейме `transactions` найдите клиента с максимальной суммой расходов по карте.
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов.

In [ ]:
# 1. Разделим транзакции на приходы (положительные amount) и расходы (отрицательные amount)
# Приходы (пополнения)
incomes = transactions[transactions['amount'] > 0].copy()
# Расходы (списания) - делаем сумму положительной для удобства
expenses = transactions[transactions['amount'] < 0].copy()
expenses['amount'] = expenses['amount'].abs()  # Берем модуль для суммирования расходов

# 2. Суммируем приходы и расходы по каждому клиенту
income_by_customer = incomes.groupby('customer_id')['amount'].sum()
expense_by_customer = expenses.groupby('customer_id')['amount'].sum()

# 3. Находим клиента с максимальной суммой приходов
max_income_customer = income_by_customer.idxmax()
max_income_amount = income_by_customer.max()

# 4. Находим клиента с максимальной суммой расходов
max_expense_customer = expense_by_customer.idxmax()
max_expense_amount = expense_by_customer.max()

# 5. Вычисляем сумму приходов и расходов для каждого из найденных клиентов
# Для клиента с максимальными приходами
income_of_max_income_customer = max_income_amount
expense_of_max_income_customer = expense_by_customer.get(max_income_customer, 0)

# Для клиента с максимальными расходами
income_of_max_expense_customer = income_by_customer.get(max_expense_customer, 0)
expense_of_max_expense_customer = max_expense_amount

# 6. Вычисляем модуль разницы между суммой расходов и суммой приходов для каждого клиента
# diff = |расходы - приходы|
diff_max_income = abs(expense_of_max_income_customer - income_of_max_income_customer)
diff_max_expense = abs(expense_of_max_expense_customer - income_of_max_expense_customer)

# 7. Выводим результаты
print("=" * 60)
print("Клиент с максимальной суммой ПРИХОДОВ на карту:")
print(f"  customer_id: {max_income_customer}")
print(f"  Сумма приходов: {income_of_max_income_customer:,.2f}")
print(f"  Сумма расходов: {expense_of_max_income_customer:,.2f}")
print(f"  Модуль разницы (|расходы - приходы|): {diff_max_income:,.2f}")
print()

print("Клиент с максимальной суммой РАСХОДОВ по карте:")
print(f"  customer_id: {max_expense_customer}")
print(f"  Сумма приходов: {income_of_max_expense_customer:,.2f}")
print(f"  Сумма расходов: {expense_of_max_expense_customer:,.2f}")
print(f"  Модуль разницы (|расходы - приходы|): {diff_max_expense:,.2f}")
print("=" * 60)

# Дополнительно: если это один и тот же клиент
if max_income_customer == max_expense_customer:
    print(f"Примечание: Это один и тот же клиент ({max_income_customer})")
    print(f"Общий баланс (приходы - расходы): {income_of_max_income_customer - expense_of_max_income_customer:,.2f}")

============================================================
Клиент с максимальной суммой ПРИХОДОВ на карту:
  customer_id: 19950741
  Сумма приходов: 512,422,498.04
  Сумма расходов: 1,075,056,263.68
  Модуль разницы (|расходы - приходы|): 562,633,765.64

Клиент с максимальной суммой РАСХОДОВ по карте:
  customer_id: 19950741
  Сумма приходов: 512,422,498.04
  Сумма расходов: 1,075,056,263.68
  Модуль разницы (|расходы - приходы|): 562,633,765.64
============================================================
Примечание: Это один и тот же клиент (19950741)
Общий баланс (приходы - расходы): -562,633,765.64

## Задание 4
1. Найдите среднее арифметическое и медиану по столбцу `amount` для каждого типа транзакций из топ-10 в Задании 2.
1. Найдите среднее арифметическое и медиану по столбцу `amount` для каждого типа транзакций, совершенных клиентами из Задания 3.

In [ ]:
# 1. Для топ-10 типов транзакций из Задания 2
top_10_types_list = top_10_with_desc['tr_type'].tolist()
top_10_stats = transactions[transactions['tr_type'].isin(top_10_types_list)].groupby('tr_type')['amount'].agg(['mean', 'median']).reset_index()

print("Статистики по топ-10 типам транзакций:")
print(top_10_stats.merge(tr_types, on='tr_type', how='left')[['tr_type', 'tr_description', 'mean', 'median']])

# 2. Для клиентов из Задания 3
customers_from_task3 = [max_income_customer, max_expense_customer]
customer_stats = transactions[transactions['customer_id'].isin(customers_from_task3)].groupby(['customer_id', 'tr_type'])['amount'].agg(['mean', 'median']).reset_index()

print("\nСтатистики для клиентов из Задания 3:")
print(customer_stats.merge(tr_types, on='tr_type', how='left')[['customer_id', 'tr_type', 'tr_description', 'mean', 'median']])

Статистики по топ-10 типам транзакций:
   tr_type                                     tr_description           mean  \
0     1010                              Покупка. POS ТУ СБ РФ  -23387.509739
1     1030                     Оплата услуги. Банкоматы СБ РФ   -5842.106393
2     1100                                Покупка. ТУ  Россия  -49964.452763
3     1110                             Покупка. POS ТУ Россия  -40431.236289
4     1200                               Покупка. Зарубеж. ТУ  -50289.633104
5     2010              Выдача наличных в АТМ Сбербанк России -125544.012961
6     2370  Списание с карты на карту по операции <перевод... -280574.997111
7     7010       Взнос наличных через АТМ (в своем тер.банке)  349929.892455
8     7030  Перевод на карту (с карты) через АТМ (в предел...  193818.509912
9     7070  Перевод на карту (с карты) через Мобильный бан...  211736.299147

      median
0   -7860.71
1   -2245.92
2  -11229.58
3  -12083.03
4  -11609.59
5  -44918.32
6  -56147.89
7  112295.79
8   32498.40
9   26950.99

Статистики для клиентов из Задания 3:
    customer_id  tr_type                                     tr_description  \
0      19950741     1010                              Покупка. POS ТУ СБ РФ
1      19950741     1030                     Оплата услуги. Банкоматы СБ РФ
2      19950741     1100                                Покупка. ТУ  Россия
3      19950741     1110                             Покупка. POS ТУ Россия
4      19950741     1200                               Покупка. Зарубеж. ТУ
5      19950741     1210                          Покупка. POS  Зарубеж. ТУ
6      19950741     1410                                                н/д
7      19950741     1510                                                н/д
8      19950741     2010              Выдача наличных в АТМ Сбербанк России
9      19950741     2011      Выдача наличных в АТМ Сбербанка (в других ТБ)
10     19950741     2020                Выдача наличных через POS Сбербанка
11     19950741     2021  Выдача наличных через POS Сбербанка (в других ТБ)
12     19950741     2110                             Наличные.   АТМ Россия
13     19950741     2210                       Наличные.  АТМ Зарубеж. банк
14     19950741     2330  Списание с карты по операции “перевода с карты...
15     19950741     2331  Списание с карты по операции “перевода с карты...
16     19950741     2370  Списание с карты на карту по операции <перевод...
17     19950741     2371  Списание с карты на карту по операции <перевод...
18     19950741     4051  Плата за перевод на карту (с карты) через АТМ ...
19     19950741     4071  Плата за перевод на карту (с карты) через Моби...
20     19950741     4110          Плата за получение наличных в АТМ. Россия
21     19950741     4210        Плата за получение наличных в АТМ. Зарубеж.
22     19950741     4500                             Плата за превыш.лимита
23     19950741     6200                      Возврат  покупки. Зарубеж. ТУ
24     19950741     7010       Взнос наличных через АТМ (в своем тер.банке)
25     19950741     7020                           Взнос наличных через POS
26     19950741     7021                           Взнос наличных через POS
27     19950741     7030  Перевод на карту (с карты) через АТМ (в предел...
28     19950741     7031  Перевод на карту (с карты) через АТМ (из одног...
29     19950741     7070  Перевод на карту (с карты) через Мобильный бан...
30     19950741     7071  Перевод на карту (с карты) через Мобильный бан...
31     19950741     7074  Перевод с карты на карту в овердрафте через Мо...

            mean       median
0  -6.566761e+04   -20437.835
1  -2.647299e+04   -22459.160
2  -5.477087e+04    -1774.275
3  -4.550251e+04   -28972.310
4  -1.857838e+05  -143089.760
5  -1.878678e+05   -51395.990
6  -3.424029e+04   -29910.660
7  -1.518329e+04   -15183.290
8  -3.040624e+05  -224591.580
9  -4.732465e+05   -89836.630
10 -3.732894e+06 -4491831.540
11 -5.390198e+06 -5053310.490
12 -1.132583e+05   -89836.630
13 -3.186600e+05  -296179.690
14 -1.431771e+05  -143177.130
15 -5.614789e+05  -561478.940
16 -2.389764e+06  -673774.730
17 -2.802393e+06 -1796732.620
18 -5.614790e+03    -5614.790
19 -1.582178e+04   -17967.330
20 -2.245920e+03    -2245.920
21 -3.436303e+03    -2961.690
22 -1.123000e+02     -112.300
23  5.887331e+04    58873.310
24  1.807962e+06  1504763.570
25  7.576223e+06  9275632.140
26  1.033544e+06   449183.150
27  4.211092e+06  4267239.965
28  2.074665e+06  1661977.670
29  6.452656e+06   898366.310
30  5.150712e+06  5154376.700
31  5.989109e+05   729922.625

## Подготовка для заданий 5–8

>**Из заданий 5-8 нужно выполнить два любых на выбор.**

Соедините датафрейм `transactions` со всеми остальными таблицами (`tr_mcc_codes`, `tr_types`, `gender_train`). Причем объединение с таблицей `gender_train` необходимо выполнить с помощью `left join`, а с оставшимися датафреймами – через `inner`.
После получения общей таблицы `gender_train`, `tr_types` и `tr_mcc_codes` можно удалить. В результате соединения датафреймов должно получиться `999584` строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(114153, 9)

In [ ]:
# Перезагрузим данные и правильно объединим
transactions = pd.read_csv('transactions.csv')
gender_train = pd.read_csv('gender_train.csv')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep=';')
tr_types = pd.read_csv('tr_types.csv', sep=';')

# Объединение таблиц с проверкой
print("Размер transactions до объединения:", transactions.shape)
print("Размер gender_train:", gender_train.shape)

# Left join с gender_train
transactions_merged = pd.merge(transactions, gender_train, on='customer_id', how='left')
print("После left join с gender_train:", transactions_merged.shape)
print("Столбцы:", transactions_merged.columns.tolist())

# Проверим наличие NaN в gender
print("\nКоличество NaN в столбце gender:", transactions_merged['gender'].isna().sum())
print("Уникальные значения gender:", transactions_merged['gender'].unique())

# Inner join с остальными таблицами
transactions_merged = pd.merge(transactions_merged, tr_mcc_codes, on='mcc_code', how='inner')
print("После inner join с tr_mcc_codes:", transactions_merged.shape)

transactions_merged = pd.merge(transactions_merged, tr_types, on='tr_type', how='inner')
print("После inner join с tr_types:", transactions_merged.shape)

print("Итоговые столбцы:", transactions_merged.columns.tolist())

Размер transactions до объединения: (4757252, 6)
Размер gender_train: (8400, 2)
После left join с gender_train: (4757252, 7)
Столбцы: ['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount', 'term_id', 'gender']

Количество NaN в столбце gender: 2131285
Уникальные значения gender: [ 1. nan  0.]
После inner join с tr_mcc_codes: (4757251, 8)
После inner join с tr_types: (4755478, 9)
Итоговые столбцы: ['customer_id', 'tr_datetime', 'mcc_code', 'tr_type', 'amount', 'term_id', 'gender', 'mcc_description', 'tr_description']

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата – отрицательное значение в столбце `amount`).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин.

>Обратите внимание, что для вычисления модуля разности не требуется точных знаний о том,
каким значением в таблице обозначены мужчины, а каким – женщины.

In [ ]:
# PUT YOUR CODE HERE

## Задание 6

1. Для каждого типа транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу `amount`) отдельно для мужчин и женщин (назовите ее `max_income`). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям `max_income`.
2. Среди типов транзакций, найденных в пункте 1, выделите те, которые встречаются одновременно и у мужчин, и у женщин.

In [ ]:
# PUT YOUR CODE HERE

## Задание 7

1. Найдите суммы затрат по каждой категории (`mcc`) для мужчин и для женщин.
2. Найдите топ-10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc-кодов).

In [ ]:
# Задание 7
# 1. Суммы затрат по категориям для мужчин и женщин
expenses_by_gender_mcc = transactions_merged[transactions_merged['amount'] < 0].groupby(['gender', 'mcc_code'])['amount'].sum().reset_index()

# 2. Топ-10 категорий с наибольшими относительными модулями разности
# Создаем отдельные датафреймы для мужчин и женщин
male_expenses = expenses_by_gender_mcc[expenses_by_gender_mcc['gender'] == 0][['mcc_code', 'amount']].rename(columns={'amount': 'male_amount'})
female_expenses = expenses_by_gender_mcc[expenses_by_gender_mcc['gender'] == 1][['mcc_code', 'amount']].rename(columns={'amount': 'female_amount'})

# Объединяем
expenses_comparison = pd.merge(male_expenses, female_expenses, on='mcc_code', how='inner')

# Вычисляем относительную разницу
expenses_comparison['relative_diff'] = abs(expenses_comparison['male_amount'] - expenses_comparison['female_amount']) / ((abs(expenses_comparison['male_amount']) + abs(expenses_comparison['female_amount'])) / 2)

# Топ-10 по относительной разнице
top_10_relative_diff = expenses_comparison.nlargest(10, 'relative_diff')

# Добавляем описания mcc-кодов
top_10_with_descriptions = top_10_relative_diff.merge(tr_mcc_codes, on='mcc_code', how='left')

print("Топ-10 категорий с наибольшими относительными разницами в тратах:")
print(top_10_with_descriptions[['mcc_code', 'mcc_description', 'relative_diff']])

Топ-10 категорий с наибольшими относительными разницами в тратах:
   mcc_code                                    mcc_description  relative_diff
0    5940.0              Веломагазины — продажа и обслуживание       1.984920
1    5968.0         Прямой маркетинг — торговые точки подписки       1.979843
2    8699.0  Организации, членства, нигде ранее не классифи...       1.842072
3    7531.0  Станции технического обслуживания для автомоби...       1.832117
4    7375.0                          Информационные провайдеры       1.820208
5    8398.0  Организации благотворительные и общественные с...       1.799126
6    6513.0          Агенты и менеджеры по аренде недвижимости       1.794303
7    6211.0                      Ценные бумаги: брокеры/дилеры       1.777763
8    3351.0                    Агентства по аренде автомобилей       1.761268
9    8220.0  Колледжи, университеты, профессиональные школы...       1.754951

## Задание 8

1. Из поля `tr_datetime` выделите час `tr_hour`, в который произошла транзакция, как первые 2 цифры до `":"`.
2. Посчитайте количество транзакций со значением в столбце `amount` строго меньше `0` в ночное время для мужчин и женщин. Ночное время – это промежуток с 00:00 по 06:00 часов.

In [ ]:
# 1. Извлечение часа проведения транзакции из временной метки
#    Берем последние 2 символа перед первым двоеточию, так как формат "день часы:минуты:секунды"
transactions_merged['tr_hour'] = transactions_merged['tr_datetime'].str.split(':').str[0].str[-2:].astype(int)

# 2. Выбор ночных транзакций по расходам (отрицательные суммы) для анализа гендерных различий
#    Ночными считаем транзакции с 00:00 до 05:59 (часы с 0 до 5 включительно)
night_expenses = transactions_merged[
    (transactions_merged['amount'] < 0) &          # Только расходы (списания)
    (transactions_merged['tr_hour'] >= 0) &        # Час 0 и больше
    (transactions_merged['tr_hour'] < 6)           # Час меньше 6 (0-5)
]

# Порядок защиты работы

**Для защиты работы необходимо:**
1. Предоставить результаты выполнения 6 заданий в виде ссылки на Google Colab.
2. Выполнить дополнительное задание в процессе сдачи работы. Дополнительное задание представляет собой запрос к данным лабораторной работы, по сложности аналогичный тем, что требовалось выполнить в рамках работы.

**Примеры дополнительных заданий:**
1. Найдите категорию транзакций, в которой совершается больше всего трат в ночное время (промежуток с 00:00 по 06:00). Выведите название категории и среднюю сумму трат в ней.

In [3]:
# Найдите категорию транзакций, в которой совершается больше всего трат в ночное время
# (промежуток с 00:00 по 06:00).
# Выведите название категории и среднюю сумму трат в ней.

import pandas as pd

# Загрузка данных
transactions = pd.read_csv('transactions.csv', delimiter=',')
gender_train = pd.read_csv('gender_train.csv', delimiter=',')
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', delimiter=';')
tr_types = pd.read_csv('tr_types.csv', delimiter=';')

# Объединение таблиц
transactions = pd.merge(transactions, gender_train, on='customer_id', how='left')
transactions = pd.merge(transactions, tr_mcc_codes, on='mcc_code', how='inner')
transactions = pd.merge(transactions, tr_types, on='tr_type', how='inner')


# 1. Выделяем час из tr_datetime
# Формат: '15 01:40:52' -> день и время, берем час
def extract_hour(datetime_str):
    try:
        # Разделяем по пробелу и двоеточию
        time_part = datetime_str.split()[1]  # берем часть после пробела
        hour = int(time_part.split(':')[0])  # берем часы
        return hour
    except:
        return None

transactions['tr_hour'] = transactions['tr_datetime'].apply(extract_hour)

# 2. Фильтруем траты в ночное время (только отрицательные суммы, 0-6 часов)
night_spends = transactions[
    (transactions['amount'] < 0) &
    (transactions['tr_hour'] >= 0) &
    (transactions['tr_hour'] < 6)
]

print(f"Всего трат в ночное время: {len(night_spends)}")

if len(night_spends) == 0:
    print("Нет транзакций в ночное время")
else:
    # 3. Группируем по категориям (mcc_description) и считаем статистику
    category_stats = night_spends.groupby('mcc_description').agg(
        total_spends=('amount', 'count'),  # количество трат
        total_amount=('amount', 'sum'),    # общая сумма трат
        avg_amount=('amount', 'mean')      # средняя сумма трат
    ).reset_index()

    # Сортируем по количеству трат (убывание)
    category_stats = category_stats.sort_values('total_spends', ascending=False)

    # 4. Находим категорию с наибольшим количеством трат
    top_category = category_stats.iloc[0]

    # 5. Выводим результат
    print("\n" + "="*70)
    print("РЕЗУЛЬТАТ ДОПОЛНИТЕЛЬНОГО ЗАДАНИЯ:")
    print("="*70)
    print(f"Категория с наибольшим количеством трат в ночное время:")
    print(f"  Название: {top_category['mcc_description']}")
    print(f"  Количество трат: {top_category['total_spends']}")
    print(f"  Общая сумма трат: {abs(top_category['total_amount']):.2f}")
    print(f"  Средняя сумма трат: {abs(top_category['avg_amount']):.2f}")
    print("="*70)

    # Дополнительно: покажем топ-5 категорий
    print("\nТоп-5 категорий по количеству трат в ночное время:")
    print("-"*70)
    for i, (_, row) in enumerate(category_stats.head(5).iterrows(), 1):
        print(f"{i}. {row['mcc_description'][:50]}...")
        print(f"   Количество: {row['total_spends']}, Средняя сумма: {abs(row['avg_amount']):.2f}")

Всего трат в ночное время: 24845

======================================================================
РЕЗУЛЬТАТ ДОПОЛНИТЕЛЬНОГО ЗАДАНИЯ:
======================================================================
Категория с наибольшим количеством трат в ночное время:
  Название: Бакалейные магазины, супермаркеты
  Количество трат: 5344
  Общая сумма трат: 138774580.89
  Средняя сумма трат: 25968.30
======================================================================

Топ-5 категорий по количеству трат в ночное время:
----------------------------------------------------------------------
1. Бакалейные магазины, супермаркеты...
   Количество: 5344, Средняя сумма: 25968.30
2. Звонки с использованием телефонов, считывающих маг...
   Количество: 2435, Средняя сумма: 5481.55
3. Станции техобслуживания...
   Количество: 1753, Средняя сумма: 27524.30
4. Финансовые институты — снятие наличности автоматич...
   Количество: 1679, Средняя сумма: 144977.81
5. Рестораны, закусочные...
   Количество: 1405, Средняя сумма: 9718.36

# Примечание

Рекомендуется выполнение заданий двумя способами – с помощью `pandas` и с помощью `SQL` с использованием модуля `sqlite3`.

# Дополнительные материалы

1. Pandas. User Guide [Электронный ресурс]. URL: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html (дата обращения: 14.03.2024).
2. МакКинни, У. Python и анализ данных [Текст] / У. МакКинни ; пер. с англ. Слинкиной А. А. — Москва : ДМК-Пресс, 2023. — 536 с.
3. Хейдт, М. Изучаем pandas [Текст] / М. Хейдт. — Москва : ДМК Пресс, 2019. — 700 с.